<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="store_usps" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Usps</label>
                <field id="usp_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usps 1</label>
                </field>
                <field id="usp_2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usps 2</label>
                </field>
                <field id="usp_3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usps 3</label>
                </field>
                <field id="usp_4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usps 4</label>
                </field>
                <field id="usp_5" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Usps 5</label>
                </field>
            </group>
        </section>
    </system>
</config>
